# Ignore data and outputs

data/raw/
checkpoints/
logs/
outputs/
*.HWR
*.png
*.jpg
*.tgz
*.db
*.zip
*.pt
*.pth
__pycache__/
.pytest_cache/
/.vscode/
.DS_Store
old/
.venv/
_write_*
thesis/
._NISDCC-online-all-001-051